.main {
    height: 50vh;
}

.main, .signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startButton {
    border: none;
    outline: none;
    padding: 15px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 3px gray;
}
  